<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form action="/cards" method="POST">
        <input type="number" name="mana" placeholder="mana">
        <input type="number" name="attack" placeholder="attack">        
        <input type="number" name="health" placeholder="health">
        <input type="text" name="description" placeholder="name/description">
        <input type="submit">
    </form>
    <h3>Your Current List:</h3>
        <% for( var i = 0; i < deck.length; i++) { %>
        <hr>
        <div>
            <p>Mana: <%= deck[i].mana %></p>
            <p>Attack: <%= deck[i].attack %></p>
            <p>Health: <%= deck[i].health %></p>
            <p>Name/Description: <%= deck[i].description %></p>
            <a href="/cards/remove/<%=deck[i].id %>">Remove from list</a>
        </div>
        <% } %>
    <hr>
    <h1>All Cards:</h1>
    <% for( var i = 0; i < cards.length; i++) { %> 
        <hr>
        <div>
            <p>Mana: <%= cards[i].mana %></p>
            <p>Attack: <%= cards[i].attack %></p>
            <p>Health: <%= cards[i].health %></p>
            <p>Name/Description: <%= cards[i].description %></p>
            <a href="/cards/add/<%=cards[i].id %>" >Add To List</a>
        </div>
    <% } %>
</body>
</html>